- semantic_form_for @calendar do |f|
  = f.error_messages
  
  - f.inputs do
    
    = f.input :event, :required => true
    = f.input :description, :required => true
    /= f.input :start_date, :required => true, :as => :string, :wrapper_html => { :class => "date" }
    /= f.input :end_date, :required => true, :as => :string, :wrapper_html => { :class => "date" }
    = f.input :start_date, :required => true, :as => :string, :input_html => { :style => "width: 100px", :size => 25 }, :wrapper_html => { :class => "date" }
    = f.input :end_date, :required => true, :as => :string, :size => 25, :input_html => { :style => "width: 100px", :size => 25 }, :wrapper_html => { :class => "date" }
    = f.input :program, :label => "Assign this event to a Program", :required => true

  
  = f.commit_button "#{button}"
  
  %p
    or
    = link_to 'Cancel', "/calendars"