.secondary-navigation
  %ul
    %li
      = link_to 'Events', "/calendars/new"
    %li
      = link_to 'Programs', "/programs"
    %li
      = link_to 'Age Groups', "/ages"
    %li
      = link_to 'Event Types', "/types"
    %li
      = link_to 'Genders', "/genders"
    %li
      = link_to 'Fields', "/fields"
  .clear