#subscribe
  - if params[:program]
    = link_to image_tag("/images/ical.png") + "Subscribe to the #{titleify(params[:program].to_s)} iCal Feed", "webcal://#{request.domain(2)}/subscribe_selected/#{params[:program]}/#{params[:id]}"