= error_messages_for :page

- form_for :page, @page, :html => { :id => "comatose-page-form" } do |f|
  %table.page-form{ :cellspacing => "0", :cellpadding => "0" }
    - unless controller.action_name == "new"
      = render :partial => '/comatose_admin/toggle_state', :locals => { :obj => @page }
    - if cms_admin
      - unless @page.parent && @page.parent_id != 1
        %tr
          %td{:colspan => 2}
            %label{ :for => "role_id" }
              Select User Access Role
            = show_roles
    %tr
      %td.label
        %label{ :for => "page_title" }
          Title
      %td.field
        = f.text_field :title, :tabindex => 1, :maxlength => 255, :size => 50
        - if cms_admin && Comatose.config.allow_more_link
          = link_to_function "More...", "ComatoseEditForm.toggle_extra_fields(this)", :id => "more-options"
    %tr#slug_row.meta-info
      %td.label
        %label{ :for => "page_slug" }
          Slug
      %td.field
        = f.text_field :slug, :tabindex => 6, :maxlength => 255, :size => 50
    - if show_field? 'keywords'
      %tr#keywords_row.meta-info
        %td.label
          %label{ :for => "page_keywords" }
            Keywords
        %td.field
          = f.text_field :keywords, :tabindex => 7, :maxlength => 1000, :size => 50

    - if show_field? 'parent'
      %tr#parent_row.meta-info
        %td.label
          %label{ :for => "page_parent" }
            Parent
        %td.field
          - if mode != :new and @root_pages.include? @page
            %select#page_parent{ :disabled => "true" }
              %option
                = @page.title
                is a root page
          - else
            %select#page_parent{ :name => "page[parent_id]", :tabindex => "8" }
              = tree_select_box @root_pages, @page.parent_id, @page.id
    %tr
      %td.label.body
        %label{ :for => "page_body" }
          Body
      %td.field
        = f.text_area :body, :rows => 20, :tabindex => 2
    %tr
      %td
      %td
        = link_to "Textile Help", "http://hobix.com/textile/", :popup => true
        = link_to "Textile Quick Reference", "http://hobix.com/textile/quick.html", :popup => true

    - if show_field? 'filter'
      %tr#filter_row.meta-info
        %td.label
          %label{ :for => "page_filter_type" }
            Filter
        %td.field
          = select_tag 'page[filter_type]', options_for_select(TextFilters.all_titles.sort, @page.filter_type || Comatose.config.default_filter), :tabindex => 3, :id => 'page_filter_type'
          %span.field-help
            Converts plain text into html

    - if show_field? 'created_on'
      %tr#created_row.meta-info
        %td.label
          %label{ :for => "page_created_on" }
            Created
        %td.field
          = f.datetime_select :created_on

  #button-group
    - unless @page.updated_on.nil?
      .last-update
        %label
          Updated
          = time_ago_in_words @page.updated_on, true
          ago by
          = @page.author
          = link_to (pluralize(@page.versions.length, 'revision', 'revisions'), :action => 'versions', :id => @page) if @page.versions.length > 0

  .comatose-page-buttons
    = image_tag 'comatose/spinner.gif', :plugin => 'comatose_engine', :id => 'spinner', :align => 'absmiddle', :style => 'display:none;'
  
    = button_to_function('Preview', "ComatoseEditForm.preview_content('#{ url_for :controller => controller.controller_name, :action => 'preview', :id => @page }')", :tabindex => 3, :id => 'preview-btn' ) if show_field? 'preview'
  
    = submit_tag(((mode == :edit) ? 'Save Changes' : 'Create Page'), :tabindex => 4)
  
    - if @page.versions.length > 0
      = link_to "Revert", :action => 'versions', :id => @page
    or
    %a{ :href => (url_for :controller => controller.controller_name), :action =>'index', :onlick => "ComatoseEditForm.cancel(this.href); return false;", :tabindex => "5" }
      Cancel

#preview-area
  %fieldset
    %legend
      Page Preview
    .preview-body
      #preview-panel
        %span{ :style => "color:blue;" }
          Loading Preview...
      %div{ :style => "clear:both" }
  .commands
    %a{ :href => "#", :onclick => "$('preview-area').hide();" }
      Close Preview
    or
    %a{ :href => "#" }
      Back to top
= javascript_tag "ComatoseEditForm.init('#{mode.to_s}');"
