#main-navigation
  %ul
    - if current_user.role_id && role_call == "admin"
      %li
        = link_to "Users", '/users'
      %li
        = link_to "User Roles", '/roles'
      %li
        = link_to "Scheduling", '/calendars'
    %li
      = link_to "Pages", '/pages'
      
    - if current_user.role_id && role_call == "admin"
      %li
        = link_to "Database", '/admin_data', :target => "_blank"
  .clear