!!!
%html{ "xml:lang" => "en", :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-type" }
    %title
      Administration

    = stylesheet_link_tag 'reset', 'formtastic', 'admin', 'theme', :media => 'all', :cache => 'admin/all'
    = stylesheet_link_tag 'http://jqueryui.com/latest/themes/base/ui.all.css'

    = javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.0/jquery.min.js', 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.min.js', 'admin', 'http://jqueryui.com/latest/ui/ui.datepicker.js'
      
  %body
    #wrapper
      #page-container
        #header
          #view
            = link_to 'View Site', '/', :target => '_blank'
          %h1 Administration
          .clear
          
        #main
          #content
            = render :partial => '/layouts/flashes'
          
            = yield